
@font-face {
    font-family: "Digitalt";
    src:
      local("../fonts/Digitalt"),
      url("../fonts/Digitalt/Digitalt.otf") format("opentype"),
      url("../fonts/Digitalt/Digitalt.ttf") format("truetype");
  }

@font-face {
    font-family: "Play-Bold";
    src: 
        local("../fonts"),
        url("../../fonts/Play-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Play-Regular";
    src: 
        local("../fonts"),
        url("../../fonts/Play-Regular.ttf") format("truetype");
}

body, html {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 50vh;
    display: flex;
    margin: 0;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FE6B6B;
  }

.instruction{
    font-family: "Play-Bold";
    padding: 4px 14px;
    font-size: 1.1rem;

    /* Center the text */
    text-align: center;

    /* Auto layout */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    
    position: relative;
    width: 70%;
    height: auto;
    top: 117px;
    
    background: #FFFFFF;
    border-radius: 18px;
}


.container {
    height: 100vh;
    margin-top: 10vh;
}

.scanner {
    position: relative;
    width: 100%;
    height: 30%;
    background-color: black;
    flex-direction: column;
    margin-top: 20%;
}

#results {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.challenge{
    font-family: "Digitalt", sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 2rem;
    flex-direction: column;
    justify-content: center;

        /* Auto layout */
    display: flex;
    align-items: center;
    padding: 4px 14px;
    gap: 10px;

    position: relative;
    width: 120px;
    height: 31px;
    top: 76px;

    background: #7A65FF;
    border: 3px solid #FFFFFF;
    border-radius: 60px;

    
}


